[submodule "taken_android"]
	path = taken_android
	url = https://lab.ssafy.com/taken/taken_android.git
[submodule "taken_backend"]
	path = taken_backend
	url = https://lab.ssafy.com/taken/taken_backend.git
